
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
env/
venv/
.venv/


instance/
.webassets-cache

.env
.env.*


.DS_Store


*.log


.ipynb_checkpoints


*.csv
*.tsv
*.json
*.pkl
*.joblib
*.h5
*.keras

data/
datasets/
model/
models/
sorted_data_acl/


.vscode/
.idea/

build/
dist/
*.egg-info/


Thumbs.db